<div class="demandes-list" layout="row">
    <span flex=""></span>
    <div layout="column">
        <h1>Demandes</h1>

        <div layout="row" layout-padding="">
            <md-input-container flex="65">
                <label>Search</label>
                <input type="Search" ng-model="search" placeholder="Search">
            </md-input-container>
            <md-select ng-model="orderProperty" flex="35">
                <md-option value="1">Ascending</md-option>
                <md-option value="-1">Descending</md-option>
            </md-select>
        </div>

        <ul>
            <li dir-paginate="demande in demandes | itemsPerPage: perPage" total-items="demandesCount.count" current-page='page'>
                <p>{{ demande.username }} Nom: {{demande.profile.first_name}} {{demande.profile.last_name}} Courriel : {{demande.emails[0].address}}
                    <md-button ng-click="active(demande)">
                        <md-icon md-font-library="material-icons">check circle</md-icon>
                        <md-tooltip md-delay="1200">Valider cette inscription</md-tooltip>
                    </md-button>
                    <md-button ng-click="remove(demande)">
                        <md-icon md-font-library="material-icons">delete </md-icon>
                        <md-tooltip md-delay="1200">Effacer cette demande </md-tooltip>
                    </md-button>
                </p>
            </li>
        </ul>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>

        <p>Total number of demandes: {{demandesCount.count}}</p>
    </div>
    <span flex=""></span>
</div>
